.capa_1 {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px;
}

.capa_1 a {
  text-decoration: none;
  color: rgb(247, 119, 84);
}

.foto {
  background: url("https://pablomonteserin.com/res/html5/ex/back-centrado/back.jpg") green no-repeat center top;
  height: 100vh;
}

.foto2 {
  background: url("https://pablomonteserin.com/res/html5/ex/back-centrado/back.jpg") green no-repeat center top;
  height: 100vh;
}

h1 {
  text-align: center;
  text-shadow: 20px 5px 5px rgb(247, 119, 84);
  font-family: miFuente;
}

@font-face {
  font-family: miFuente;
  src: url(fuente.ttf);
}

